# mapflpy requires HDF libraries for reading data with psi-io.
# it also requires the HDF5 library to build the fortran object from source.
#
# Generally we recommend installing the python HDF packages using conda.
# This makes it simpler to ensure that the underlying HDF5 and HDF4 libraries
# are properly set up and linked to the python interfaces.
#
# Here is a minimal conda recipe for the mapflpy dependencies that are
# currently required to build the project. If you only wish to pip install
# the project, you can remove everything past the minimal dependencies.
#
# To create the development environment:
#   $ conda env create -f environment.yml
#   $ conda activate mapflpy-dev
#
# To remove the development environment:
#   $ conda remove --name mapflpy-dev --all
#
name: mapflpy-dev
channels:
  - conda-forge
  - defaults
dependencies:
  # Minimal Dependencies (manually set python 3.12 here, but it should be ok with >=3.10)
  - python~=3.12.0
  - h5py
  - numpy

  # Optional Dependencies
  - pyhdf
  - scipy

  # Documentation Dependencies
  - sphinx
  - sphinx-book-theme
  - myst-parser
  - matplotlib

  # Development Dependencies
  - meson~=1.8.0
  - meson-python~=0.18.0
  - ninja
  - pkg-config
  - gfortran~=13.0
  - pytest
  - python-build
  - delocate
  - auditwheel
  - twine
  - pip

  - pip:
    - psi-io
